
<!DOCTYPE html>
<html>
<head>
    <title>Certificate Verification System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>🎓 Certificate Verification System</h1>
        <a class="button" href="/login/admin">Admin Login</a>
        <a class="button" href="/student_login">Student Login</a>
        <a class="button" href="/verify">Verify Certificate (Public)</a>


        <div class="credit">
            USN: 4CB22CS134 &nbsp;|&nbsp; Name: Spandana M J
        </div>
    </div>


</body>
</html> 






